<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
    <div class="about-container">
        <div class="about-text">
            <h1>{{ .Title }}</h1>
            <p>{{ .Content | safeHTML }}</p>
        </div>
        <div class="about-picture">
            <img src="{{ .Params.profilePicture }}" alt="Profile Picture">
        </div>
    </div>
</body>
</html>

