<!-- Variables for Dates to be DISPLAYED -->
{{ $date := .Date.Format (.Site.Params.dateFormat | default "2006 January 02") }}
{{ $lastmod := .Lastmod.Format (.Site.Params.dateFormat | default "2006 January 02") }}

<!-- Variables for Dates to be COMPARED -->
{{ $date_for_comparison := .Date.Format (.Site.Params.dateFormat | default "2006 01 02") }}
{{ $lastmod_for_comparison := .Lastmod.Format (.Site.Params.dateFormat | default "2006 01 02") }}

<!-- Variable for separation text -->
{{ $lastmodseparatertext := "      |     Last edited: " }}

<p>
    Published: {{ $date }}
    {{ if gt $lastmod_for_comparison $date_for_comparison }}
        {{ $lastmodseparatertext }} {{ $lastmod }}
    {{ end }}
</p>